* {
    box-sizing: border-box;
}

.header,
.main , 
.footer {
    margin: 0;
    border: solid red 1px;
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Aleo', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Red Hat Text', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 120px;
}

html {
    scroll-behavior: smooth;
}

/*Start header styles*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    padding-bottom: 25px;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 25px;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
}

.header-item {
    margin-right: 42px;
}

.header-item:last-child {
    margin-right: 0px;
}

.header-link {
    padding: 0;
    line-height: 50px;
    font-family: Red Hat Text;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color:#ffffff;
}

.header-link:hover, .header-link:focus, .header-link:active {
    opacity: 0.75;
    transition: .3s;
  }


.button {
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
/*
    width: 228px;
    height: 59px;
    padding: 10px 32px;
    font-size: 24px;
    line-height: 32px;
*/
}

.button-login {
    width: 103px;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 21px;
    
}

/*End header styles*/

/*Start main styles*/

.wrapper {
    background: url(./assets/img/preview-bg-image.jpg) no-repeat center;
    background-size: cover;
    padding: 330px 0;
    margin: 0;
}

.preview-title {
    font-family: Aleo;
    font-size: 80px;
    font-weight: 700;
l   line-height: 96px;
    color: #ffffff;
    max-width: 892px;
    margin-bottom: 22px;
}

.preview-subtitle {
    font-family: Aleo;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    max-width: 723px;
    color: white;
    margin-bottom: 46px;
}