
* {
    box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1;
    font-family: 'Aleo';
    font-weight: 400;
    font-size: 20px;
    color: #0D606F;  
}

.wrapper-full {
    max-width: 1440px;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.wrapper {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

html {
    scroll-behavior: smooth;
}

/*Start header styles*/

/*
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    background-color:rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    padding-bottom: 25px;
    z-index: 999;
}*/

.header {
    position: relative;
    min-height: 90px;
    background-color:rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    z-index: 5;
  }

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.header-item {
    margin-right: 42px;
}

.header-logo {
    padding: 0 0 6px 0;
    margin: 0;
    align-items: center;
}

.header-link {
    padding: 0;
    font-family: Red Hat Text;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color:#ffffff;
}

.header-link:hover, .header-link:focus, .header-link:active {
    opacity: 0.75;
    transition: .3s;
}


.button {
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    width: 228px;
    height: 59px;
    padding: 10px 32px;
    font-size: 24px;
    line-height: 32px;
}

.button-login {
    width: 103px;
    height: 41px;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 21px;
}

/*End header styles*/

/*Start preview styles*/
.preview {
    position: relative;
    margin-top: -90px;
    padding-top: 90px;
}


.preview-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.preview-wrapper {
    position: relative;
    z-index: 2;
    padding: 32px 0px 335px 0px;
}

/*
.preview {
    background: url(./assets/img/preview-bg-image.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    padding-top: 122px;
    margin-bottom: 80px;
    min-height: 765px;
}
*/


.preview-title {
    font-family: Aleo;
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    color: #ffffff;
    max-width: 892px;
    margin-bottom: 22px;
    padding: 0;
    margin: 0;
}

.preview-subtitle {
    font-family: Aleo;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    max-width: 723px;
    color: #ffffff;
    padding: 0;
    margin: 31px 0px 46px 0px;
}

.search-form-info {
    max-width: 892px;
    min-width: 560px;
    min-height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    margin: 0;
    padding: 0;
}

.search-form-field {
    min-width: 560px;
    min-height: 22px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-top: 23px;
    margin-left: 41px;
    border: none;
    background-color: rgba(0,0,0,0);
    padding: 0;
}

.search-form-field::-webkit-input-placeholder {
    color: #F2785C;
}

.search-form-submit {
    white-space: nowrap;
    margin: 18px 18px 18px 40px;
}

/*End preview styles*/

/*Start steps styles*/

.section-title {
    font-family: Red Hat Text;
    font-size: 40px;
    font-weight: 500;
    line-height: 53px;
    color: #F2785C;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
}

.steps-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
}

.steps-card {
    grid-column: span 1;
    margin-bottom: 75px;
    text-align: center;
}

.steps-card-item {
    width: 100px;
    height: 100px;
    background: #F2785C;
    border-radius: 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
}

.steps-card-pic {
    position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.steps-card-desc {
    font-family: Aleo;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color:#0D606F;
    margin: 30px 0px 20px 0px;
}

/*End steps styles*/

/*Start destinations styles*/

.destinations-slides {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.destinations-slide {
    width: 800px;
    height: 800px;
    position: relative;
    margin: 0;
    padding: 0;
}

.destinations-slide:nth-child(2) {
    margin-right: 60px;
    margin-left: 60px;
}

.destinations-slide-title {
    font-size: 32px;
    line-height: 42px;
    color: white;
    position: absolute;
    bottom: 40px;
    left: 15px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
}

.destinations-slider-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    margin-top: 45px;
}

.destinations-slider-btn {
    width: 20px;
    height: 20px;
    color: #F2785C;
}

.destinations-button {
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 80px;
}

.destinations-button-link {
    padding: 0;
    padding-left: 50px;
    color: #ffffff;
    transition: .2s all;
    background: url(./assets/svg/arrow.svg) no-repeat left center;
}

/*End destinations styles*/

/*Start stories styles*/

/*Оборачивает сторис и футер для фонового изображения*/
.wrapper-bg {
    background: url(./assets/img/stories-bg-image.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    margin-bottom: 0px;
    padding-bottom: 150px;
    position: relative;
    z-index: -1;
}

.stories {
    background:rgba(255, 255, 255, 0.7);
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 0px;
}

.stories-button {
    margin: 0 auto;
    margin-bottom: 30px;
    display: block;
}

.stories-tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    align-items: center;
    margin-bottom: 30px;
}

.tour-pic {
    width: 400px;
    height: 250px;
    border-radius: 16px;
}

.tour-pic-1 {
    background: url(./assets/img/stories-image-1.jpg) no-repeat center;
}

.tour-pic-2 {
    background: url(./assets/img/stories-image-2.jpg) no-repeat center;
}

.tour-pic-3 {
    background: url(./assets/img/stories-image-3.jpg) no-repeat center;
}

.tour-pic-4 {
    background: url(./assets/img/stories-image-4.jpg) no-repeat center;
}

.tour-title {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
}

.tour-desc {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.tour-link {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #0D606F;
}



.social-item {
    width: 33.65px;
    height: 33.65px; 
}

.social-link {
    color: #ffffff;
}

.social-list {
    display: flex;
}

.footer-wrapper {
    display: flex;
    color: #ffffff;
    flex-direction: row;
}